In [5]:
#import dependencies
import pandas as pd

In [16]:
# read in csv
df= pd.read_csv('resources/US-Monthly-GDP-History-Data.csv')
df.head(15)

,Unnamed: 0,Monthly Nominal GDP Index,Monthly Real GDP Index,Unnamed: 3,Unnamed: 4
0,1992 - Jan,6315.718,10177.808,NaN,NaN
1,1992 - Feb,6356.508,10222.919,NaN,NaN
2,1992 - Mar,6417.080,10307.964,NaN,NaN
3,1992 - Apr,6443.260,10314.310,NaN,NaN
4,1992 - May,6433.800,10293.473,NaN,NaN
5,1992 - Jun,6535.229,10433.829,NaN,NaN
6,1992 - Jul,6557.307,10451.327,NaN,NaN
7,1992 - Aug,6556.893,10431.177,NaN,NaN
8,1992 - Sep,6585.723,10465.874,NaN,NaN
9,1992 - Oct,6637.251,10525.000,NaN,NaN
10,1992 - Nov,6680.230,10555.456,NaN,NaN
11,1992 - Dec,6724.928,10594.715,NaN,NaN
12,1993 - Jan,6718.517,10578.491,NaN,NaN
13,1993 - Feb,6741.424,10594.478,NaN,NaN
14,1993 - Mar,6728.436,10555.041,NaN,NaN

In [17]:
# rename date column to 'Date'
# use .info() to learn more about the dataframe
df = df.rename(columns= {'Unnamed: 0': 'Date'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       391 non-null    object
 1   Monthly Nominal GDP Index  391 non-null    float64
 2   Monthly Real GDP Index     391 non-null    float64
 3   Unnamed: 3                 0 non-null      float64
 4   Unnamed: 4                 0 non-null      float64
dtypes: float64(4), object(1)
memory usage: 15.9+ KB

In [18]:
# drop empty columns
df = df[['Date', 'Monthly Nominal GDP Index', 'Monthly Real GDP Index']]
df.head()

         Date  Monthly Nominal GDP Index  Monthly Real GDP Index
0  1992 - Jan                   6315.718               10177.808
1  1992 - Feb                   6356.508               10222.919
2  1992 - Mar                   6417.080               10307.964
3  1992 - Apr                   6443.260               10314.310
4  1992 - May                   6433.800               10293.473

In [ ]:
months